body {
  font-family: Helvetica;
}

.divider-text {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	/* color: rgba(0, 0, 0, 0.35); */
	font-size: 16px;
	margin: 8px 0px 32px;
}

.divider-text::before,
.divider-text::after {
	content: "";
	flex-grow: 1;
	/* background: rgba(0, 0, 0, 0.35); */
	background: rgb(226, 226, 226);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 24px;
}