
.skill {
  margin: 16px 0;
}

.skill__title {
  margin: 0 0 8px;
  font-size: 0.8rem;
}

.skill__level {
  position: relative;
  height: 16px;
  background-color: rgba(0,0,0,0.1);
}

.skill__level:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #9fa0ff;
}

.skill__level--webDesign:after {
  width: 80%;
}

.skill__level--graphicDesign:after {
  width: 70%;
}

.skill__level--printDesign:after {
  width: 75%;
}

.skill__level--htmlDesign:after {
  width: 90%;
}

.skill__level--cssDesign:after {
  width: 85%;
}

.skill__level--jsDesign:after {
  width: 70%;
}